.ContactUsContainer {
    height: fit-content;
    width: 50%;
    height: 100%;
}

.ContactUsImage {
    z-index: -1;
    position: fixed;
    object-fit: cover;
    right: 0%;
    top: 5%;
    height: 100%;
    width: 30%;
}