.ContactUsContainer {
    height: fit-content;
    width: 70%;
    height: 100%;
}

.ContactUsImage {
    z-index: -1;
    position: fixed;
    object-fit: cover;
    right: -10%;
    top: 8%;
    height: 100%;
    width: 35%;
}

Form {
    margin-left: 2rem;
    padding-left: calc((100vw - 1000px) / 2);
}

Form * {
    max-width: 45vw;
}

Form button {
    margin-top: 1rem;
}

input {
    background-color: #F8F9FC;
}

.hidden {
    display: none;
}

@media screen and (max-width: 550px) {
    .NameAndEmail {
        display: flex;
    }
}