button {
    width: 7rem;
    height: 2.5rem;
    background-color: #2F7BB8;
    color: white;
    border: none;
    border-radius: 0.4rem;
    box-sizing: border-box;
}

.ButtonContainer {
    padding: 0 calc((100vw - 1000px) / 2);
    margin-left: 2rem;
}

.ContentContainer1 {
    display: flex;
    padding: 0 calc((100vw - 1000px) / 2);
}

.ContentContainer1 > * {
    flex-basis: 100%;
}

.ContainerSplit * {
    padding: 0;
}

.ContainerSplit img {
    display: block;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

@media screen and (max-width: 550px) {
    .ContentContainer1 {
        flex-direction: column-reverse;
    }

    button {
        width: 85%;
    }
}

.PictureOfGirl {
    position: relative;
}

.PictureOfGirl img {
    padding: 0 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 30rem;
}

.TextBlock {
    position: absolute;
    top: 5rem;
    height: fit-content;
    left: calc((100vw - 1000px) / 2 + 2rem);
    width: 34rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 0.3rem;
    text-align: left;
    padding: 2rem;
}

.TextBlock > * {
    padding: 0;
    margin-top: 2rem;
    margin-left: 2rem;
}

.TextBlock button {
    background-color: #EFF7FF;
    color: #4D8CC0;
    margin-bottom: 2rem;
}

.TextBlock h1 {
    padding-top: 2rem;
}

.HomepageBottom {
    text-align: center;
}

.HomepageBottom * {
    margin-left: 1rem;
}


@media screen and (max-width: 970px) {
    .TextBlock {
        margin: auto;
        position: static;
        padding: 0;
        max-width: 90%;
    }
    .TextBlockWrapper {
        background-image: url('../Resources/shutterstock_1302552622.jpg');
        background-size:cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        padding: 1rem;
        margin: 0;
        margin-top: 2rem;
    }
    .PictureOfGirl img {
        display: none;
    }
}