.swiper-container {
    height: 30rem;
}

.BannerText {
    color: white;
}

.BannerImage {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0;
}

.Slide {
    background-size:cover;
    background-position: top left;
    height: 100%;
}

.BannerContent {
    margin-top: 10%;
}

@media screen and (max-width: 970px) {
    .Slide {
        background-position: center center;
    }
}