nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: solid 1px lightgray;
}

.Logo {
    margin-left: 2rem;
}

.Navlinks {
    display: flex;
    list-style: none;
    padding: 0 calc((100vw - 1000px) / 2);
    position: relative;
    align-items: center;;
}

.Navlinks li {
    padding-left: 1rem;
    overflow: hidden;
    white-space: nowrap;
}

.Navlinks li * {
    text-decoration: none;
    color: #5D5D5D;
}

img {
    padding: 0 calc((100vw - 1000px) / 2);
    width: 12rem;
}

.LogIn button {
    background-color: #EFF7FF;
}

.LogIn button strong {
    color: #4A8BC1;
}

@media screen and (max-width: 550px) {
    .Navlinks {
        display: none;
    }

    nav {
        justify-content: center;
        padding: 1rem;
    }

    .Logo {
        margin: 0;
    }
}