body {
  background-color: white;
  color: grey;
}

h1 {
  padding: 0 calc((100vw - 1000px) / 2);
  margin-left: 2rem;
  margin-top: 4rem;
  font-size: large;
}

b {
  padding: 0.2rem calc((100vw - 1000px) / 2);
  margin: 2rem;
}

p {
  padding: 0.2rem calc((100vw - 1000px) / 2);
  margin: 2rem;
  font-size: small;
}

ul {
  padding: 0.2rem calc((100vw - 1000px) / 2);
  margin: 2rem;
  font-size: small;
}

h4 {
  padding: 0 calc((100vw - 1000px) / 2);
  margin-left: 2rem;
}

Navbar {
  z-index: 2;
}

.WebsiteFooter {
  z-index: 2;
  text-align: right;
  border-top: solid 1px lightgray;
  color: lightgray;
  background-color: white;
  height: 80vh;
}

@media screen and (max-width: 550px) {
  .WebsiteFooter {
    text-align: center;
  }
}